body{
    background-image: url(img/fundo.jpeg);
    background-size: 100% 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
.espaço{
    height: 400px;
}
.cabeçalho{
    display:flex;
    color:white;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:center;
    gap:50px;
    height:20%;
    margin-bottom: 100px;
}
.cabeçalho>a{
    color:white;
    border: solid 1px rgb(255, 255, 255);
    text-decoration:none;
    border-radius:50px;
    padding: 20px 80px; 
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: black;
}
.cabeçalho> a:hover{
    color: black;
    background-color:white;
    text-decoration:underline;
    border: solid 2px rgb(0, 0, 0);
}
.rodape{
    margin-top: 200px;
    height: 500px;
    width: 100%;
    text-align: center;
}
footer>img{
    height: 100px;
    width: 100px;
    margin-left: 70px;
    border: 3px solid white;
    border-radius: 15px;
    background-color: white;
}



/*daqui para baixo colocar o conteudo personalizado de cada pagina*/
.agenda{
    height: 400px;
    width: 800px;
}
.posiçao_agenda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}